* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    max-width: 2200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

link {
    outline: none;
}

.header__title {
    text-align: center;
    font-family: 'CR';
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 150px;
    font-size: 60px;
}

.header__nav-img {
    max-width: 650px;
    width: 100%;
    border-radius: 8%;
    object-fit: cover;
}

.header__nav-text {
    font-family: 'CS';
    color: aliceblue;
    text-align: justify;
    width: 700px;
    line-height: 200%;
    font-size: 22px;
    padding-top: 60px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.main1__title {
    text-align: center;
    font-family: 'CR';
    color: aliceblue;
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.main1__text {
    text-align: center;
    font-family: 'CR';
    color: aliceblue;
    max-width: 630px;
    width: 100%;
    line-height: 150%;
    text-align: justify;
    font-size: 22px;
    padding-top: 30px;
}

.main1__img {
    max-width: 550px;
    width: 100%;
    border-radius: 8%;
    object-fit: cover;
}

.main1__box {
    display: flex;
    justify-content: space-between;
}

.main1__logo {
   width: 110px;
   height: 3px;
   margin-top: 350px;
}

.main2__title {
    text-align: center;
    font-family: 'CR';
    color: aliceblue;
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.main2__img {
    max-width: 550px;
    width: 100%;
    border-radius: 8%;
    object-fit: cover;
}

.main2__text {
    text-align: center;
    font-family: 'CR';
    color: aliceblue;
    max-width: 630px;
    width: 100%;
    line-height: 150%;
    text-align: justify;
    font-size: 22px;
}

.main2__box {
    display: flex;
    justify-content: space-between;
}

.main2__logo {
    width: 110px;
    height: 3px;
    margin-top: 500px;
}

.main3__title {
    text-align: center;
    font-family: 'CR';
    color: aliceblue;
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.main3__img {
    max-width: 550px;
    width: 100%;
    border-radius: 8%;
    object-fit: cover;
}

.main3__text {
    text-align: center;
    font-family: 'CR';
    color: aliceblue;
    max-width: 630px;
    width: 100%;
    line-height: 150%;
    text-align: justify;
    font-size: 22px;
}

.main3__box {
    display: flex;
    justify-content: space-between;
}

.main3__logo {
    width: 90px;
    height: 2px;  
    margin-top: 450px;  
}

.tete {
    line-height: 125%;
}

.kugay {
    text-align: center;
    font-family: 'CR';
    color: pink;
    font-size: 100px;
    padding-top: 200px;
}